---
layout: default
---
<div class="mt-20 lg:mt-40 text-center text-brand-primary flex justify-center flex-wrap">
  <div class="w-full flex justify-center">
    <img class=" h-64" src="assets/mermaid_cropped.png" alt="Warsaw Coffee Tour Mermaid">
  </div>
  <div class="max-w-lg mt-5">
    <h2 class="font-semibold text-base md:text-lg xl:text-xl mt-2">Discover Warsaw with a local tour guide and the best
      coffee
      in your hand!</h2>
  </div>
</div>
<div class="flex justify-center mt-20">
  <span class="inline-flex rounded-md shadow-sm">
    <a href="https://www.instagram.com/warsaw_coffee_tour/"
      class="pointer inline-flex items-center px-4 py-2 sm:px-6 sm:py-3 border border-transparent text-sm sm:text-base leading-6 font-medium rounded-md text-brand-secondary bg-brand-primary hover:bg-opacity-75 focus:outline-none focus:shadow-outline-indigo transition ease-in-out duration-150">
      <svg class="-ml-1 mr-3 h-5 w-5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
        <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
        <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
      </svg>
      Follow us on Instagram!
    </a>
  </span>
</div>
